@import url('https://fonts.googleapis.com/css2?family= Oxygen :wght@300;700 & display=swap');

body{
    background-color: #f0f8ff;
}
header{
    background-image: url(../img/fundo.jpg);
    font-family: 'Oxygen', sans-serif;

}
.container{
    flex-direction: column;
    margin: auto;
    padding: 10px;
}
.container img{
    width: 80%;
    padding: 10px;
}
.container h1{
    margin: auto;
    padding: 25px;
}
.container p{
    padding: 5px;
}
#img_2{
    width: 50%;
    padding: 10px;
}
footer{
    background-image: url(../img/fundo.jpg);
    font-family: 'Oxygen', sans-serif;
}